
<div class="container">
    <div class="row">
      <div class="col">
          <h1>User Table</h1>
          <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>id</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>email</th>
                    <th>birth</th>
                    <th>phone</th>
                    <th>city</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>